<div class="row text-center">
  <div class="col">
    <h1 class="me-3">Beats</h1>
  </div>
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Beat</th>
            <th>Producer</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @beats.each do |beat| %>
            <tr>
              <td>
                <% if beat.beat.present? %>
                  <audio controls>
                    <source src="<%= beat.beat_file_url %>" type="<%= beat.beat_file_content_type %>">
                    Your browser does not support the audio element.
                  </audio>
                <% else %>
                  <p>No audio available for this beat.</p>
                <% end %>
              </td>
              <td><%= beat.artist %></td>
              <td><%= link_to beat.title, beat_path(beat) %></td>
              <td><%= beat.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
